body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;

  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.card {
  background: #1f2937;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
}

input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 30%;
}

button {
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #2563eb;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-info {
  max-width: 70%;
}

.status {
  font-size: 14px;
  opacity: 0.8;
}

.delete-btn {
  background: #ef4444;
}

.delete-btn:hover {
  background: #dc2626;
}
.status-badge {
  padding: 4px 10px;
  border-radius: 20px;
  display: inline-block;
  font-size: 13px;
  margin-top: 6px;
}

.status-badge.pending {
  background: #f59e0b;
  color: black;
}

.status-badge.completed {
  background: #10b981;
  color: white;
}

.filter-bar {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}

.filter-bar button {
  background: #374151;
}

.filter-bar button:hover {
  background: #4b5563;
}
.task-info h3 {
  margin: 0;
}

.task-info p {
  margin: 4px 0;
}
.status-select {
  padding: 10px 5px 10px 5px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #374151;
  color: white;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.status-select:hover {
  background: #4b5563;
}

.status-select:focus {
  box-shadow: 0 0 0 2px #3b82f6;
}
